.intro-image {
    width: 100%;
    height: auto;
    margin-top: -40px;
}
.intro-image-absolute {
    max-width: none;

    /* padding: 0; */
    margin-bottom: 30px;
    top: -100px;
    right: -50px;
    width: 110%;
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
        position: absolute;
        top: -100px;
        left: -50px;
        width: 700px;
    }
    @include media-breakpoint-up(lg) {
        top: -100px;
        left: -60px;
        width: 800px;
    }
    @include media-breakpoint-up(xl) {
        top: -100px;
        left: -70px;
        width: 850px;
    }
}
.intro-image-hide-mobile {
    display: none;
    @include media-breakpoint-up(md) {
        display: block;
    }
}
