.intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        padding-top: 100px;
        padding-bottom: 0;
    }

    h2 {
        width: 80%;
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 30px;
        color: var(--#{$prefix}body-emphasis-color);
        font-family: $font-family-base;
    }

    p {
        font-size: 1.2rem;
        font-weight: light;
        line-height: 1.5;
        color: var(--#{$prefix}body-secondary-color);

        @include media-breakpoint-up(md) {
            width: 90%;
        }
    }
}

.intro-small {
    padding-top: 100px;
    padding-bottom: 30px;
}